@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Raleway:wght@200;600&display=swap');
body {
  background: #36454f;
}

p {
  font-family: Raleway;
  font-weight: 200;
  color: white;
}

h1 {
  display: flex;
  margin: 0;
  justify-content: center;
  font-family: Monoton;
  font-size: 4em;
  color: #ffbf00;
}

h2 {
  font-family: Raleway;
  font-weight: semibold;
  color: white;
  margin-top: 0;
}

h3 {
  font-family: Raleway;
  font-weight: 200;
  text-align: center;
  color: white;
  font-style: italic;
}


ul.nav-list {
  list-style: none;
  display: inline-flex;
  gap: 12px;

  font-family: Raleway;
  color: white;

}

header {
  background-color: black;
  padding: 2px;
  margin: 0;

}

footer {
  text-align: center;
  font-size: .75em;
}


.reel{
  width: 90%;
  display: block;
  margin: auto;
}

.reel > p{
  text-align: center;
}

.video-size{
  display: flex;
  justify-content: center;
}

#assignment{
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  margin-top: 4%;
}

a:link, a:active, a:visited {
  font-family: Raleway;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

a:hover{
  font-family: Raleway;
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  background: #ffbf00;
}


@media only screen and (min-width: 960px) {

  .o {grid-area: a;}
  .t {grid-area: b;}
  .s {grid-area: c;}
  .x {grid-area: d;}
  .y {grid-area: e;}
  .z {grid-area: f;}

  #home{
    display: grid;
    margin: 5%;

    grid-template-colomns: repreat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 25px;
    row-gap: 25px;
    grid-template-areas: 
      'a e c'
      'd b f'
      '. . .'
      ;
  }
}

#thx, #mm, #carver {
  width:  100%;
  height:  auto;
}


















